header{
    height: 102px;
    background-color: #234374;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu{
    display: flex;
    gap: 50px;
}

h1{
    color: white;
}

.menu button{
    color: #8cbcac;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    padding: 5px 10px;
    background-color: #234374;
    border: none;
}

.selected{
    border-bottom: 2px solid white;
}